<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPSkewedLib copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MPSkewedLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UniversalLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3008FE741988734F00E8873D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3008FE841988734F00E8873D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3008FEAA1988737700E8873D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3067C63D19C40D9C00E0E932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
